<ion-header>
  <ion-navbar>
    <ion-title>
        PHONE NUMBER VERIFICATION
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list padding>
    <button ion-button medium full (click) = "makeACall()">CALL TO VERIFY</button>
  </ion-list>
  <ion-list color="secondary" *ngIf="isVerified">
      <ion-card color="secondary">
        <ion-card-content text-center>
          VERIFIED
        </ion-card-content>
      </ion-card>
  </ion-list>
  <ion-list color="danger" *ngIf="!isVerified">
      <ion-card color="danger">
        <ion-card-content text-center>
          VERIFY
        </ion-card-content>
      </ion-card>
  </ion-list>
</ion-content>
